html {
    background: #003366 url("img/4bendblue.png") no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

h1, lead, p {
    font-family: 'Cutive Mono', monospace;
}

lead, p {
    font-size: 1.5rem;
  }

nav ul li {
    list-style: none;
    display: inline-block;
}
 

#social a:hover {
    color:#ffedbb !important;
    transform: translateY(-3px);
}

#me {
    bottom: 0%;
    position: fixed;
    padding-bottom: 3%;
}

.rounded-circle {
    max-width: 75%; /* or to whatever you want here */
    max-height: 500px; /* or to whatever you want here */  
} 
/* .rounded-circle:hover {
    -webkit-filter: sepia(1);
    filter: sepia(1);
  } */